---
import { getCollection } from 'astro:content'
import Layout from '../../../layouts/Layout.astro'
import ProjectPreview from '../../../components/ProjectPreview.astro'
import CTA from '../../../components/CTA.astro'

export async function getStaticPaths() {
	const pages = await getCollection('projects')

	const paths = pages.map((page) => {
		const [lang, ...slug] = page.slug.split('/')
		return { params: { lang, slug: slug.join('/') || undefined }, props: page }
	})

	return paths
}

// const { lang, slug } = Astro.params
const page = Astro.props
const { data, slug } = page
// const formattedDate = page.data.date.toLocaleString(lang);

// const { data, slug } = Astro.props.project

const [, projectSlug] = slug.split('/')

const { Content } = await page.render()
---

<Layout>
	<img
		src={page.data.img}
		alt={page.data.img_alt || ''}
		loading="lazy"
		decoding="async"
		class="aspect-video size-full object-cover"
		transition:name={`${projectSlug}-hero-img`}
	/>
	<main class="container prose prose-lg prose-stone dark:prose-invert">
		<Content />
	</main>
	<CTA />
</Layout>
