/* Global variables */

:root {
  /* Fonts */
  --font-family-system: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Public Sans", sans-serif;
  --font-family-body: Arial, "Helvetica Neue", var(--font-family-system);
  --font-family-brand: "Teko", sans-serif, var(--font-family-system);

  --font-size-1: 0.75rem;
  --font-size-2: 0.875rem;
  --font-size-3: 1rem;
  --font-size-4: 1.125rem;
  --font-size-5: 1.25rem;
  --font-size-6: 1.5rem;
  --font-size-7: 2rem;
  --font-size-8: 3rem;
  --font-size-9: 4rem;
  --font-size-10: 6rem;
  --font-size-11: 9rem;

  --font-line-height-1: 1;
  --font-line-height-2: 1.125;
  --font-line-height-3: 1.25;
  --font-line-height-4: 1.5;
  --font-line-height-5: 1.75;

  --font-letter-spacing-1: -0.05em;
  --font-letter-spacing-2: 0;
  --font-letter-spacing-3: 0.05em;
  --font-letter-spacing-4: 0.1em;

  --font-weight-1: 300;
  --font-weight-2: 400;
  --font-weight-3: 500;
  --font-weight-4: 600;
  --font-weight-5: 700;

  /* Transitions */
  --theme-transition: 0.2s ease-in-out;

  /* Borders */
  --border-width-1: 0.0625rem;
  --border-width-2: 0.125rem;

  --border-radius-1: 0.1875rem; /* Not used */

  /* Spacing scale */
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.5rem;
  --space-6: 2rem;
  --space-7: 3rem;
  --space-8: 4rem;
  --space-9: 6rem;
  --space-10: 8rem;
  --space-11: 12rem;
  --space-12: 16rem;
  --space-13: 24rem;
  --space-14: 32rem;
  --space-15: 40rem;
  --space-16: 48rem;
  --space-17: 64rem;
  --space-18: 80rem; /* 1280 */

  /* Colors */
  /* No neutral nor accent colors since the project's primary colors are already neutral */
  --color-primary-1: hsl(0, 0%, 91%);
  --color-primary-2: hsl(0, 0%, 85%);
  --color-primary-3: hsl(0, 0%, 73%);
  --color-primary-4: hsl(0, 0%, 62%);
  --color-primary-5: hsl(0, 0%, 51%); /* base */
  --color-primary-6: hsl(0, 0%, 43%);
  --color-primary-7: hsl(0, 0%, 32%);
  --color-primary-8: hsl(0, 0%, 21%);
  --color-primary-9: hsl(0, 0%, 9%);
  --color-semantic-success-1: hsl(69, 100%, 54%);
  --color-semantic-success-2: hsl(69, 100%, 39%);
  --color-semantic-success-3: hsl(69, 100%, 24%);
  --color-semantic-fail-1: hsl(5, 100%, 65%);
  --color-semantic-fail-2: hsl(5, 100%, 45%);
  --color-semantic-fail-3: hsl(5, 100%, 30%);

  /* Theme dependent values */
  --bg-color: var(--color-primary-1);
  --font-color-1: var(--color-primary-4);
  --font-color-2: var(--color-primary-5);
  --font-color-3: var(--color-primary-6);
  --font-color-4: var(--color-primary-7);
  --font-color-5: var(--color-primary-8);
  --border-color-1: var(--color-primary-2);
  --border-color-2: var(--color-primary-4);
  --link-color-1: var(--color-primary-8);
  --link-color-2: var(--color-primary-9);
  --link-hover-color-1: var(--color-primary-6);
  --link-hover-color-2: var(--color-primary-7);
  --link-active-color-1: var(--color-primary-4);
  --link-active-color-1: var(--color-primary-5);
}

:root.theme-dark {
  --bg-color: var(--color-primary-9);
  --font-color-1: var(--color-primary-6);
  --font-color-2: var(--color-primary-5);
  --font-color-3: var(--color-primary-4);
  --font-color-4: var(--color-primary-3);
  --font-color-5: var(--color-primary-2);
  --border-color-1: var(--color-primary-8);
  --border-color-2: var(--color-primary-6);
  --link-color-1: var(--color-primary-2);
  --link-color-2: var(--color-primary-1);
  --link-hover-color-1: var(--color-primary-4);
  --link-hover-color-2: var(--color-primary-3);
  --link-active-color-1: var(--color-primary-6);
  --link-active-color-2: var(--color-primary-5);
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth; /* Check if this is widely supported and works correctly  */
}

body {
  color: var(--font-color-3);
  font-family: var(--font-family-body);
  -webkit-font-smoothing: antialiased;
  line-height: var(--font-line-height-4);
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--link-color-1);
  text-decoration: none;
  font-family: var(--font-family-brand);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--font-line-height-2);
  font-family: var(--font-family-brand);
  font-weight: var(--font-weight-4);
  text-transform: uppercase;
}

p {
  font-family: var(--font-family-body);
  font-size: var(--font-size-2);
  /* text-wrap: pretty; */
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* Utilities */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.wrapper {
  width: 100%;
  max-width: var(--space-18);
  margin-inline: auto;
  padding-inline: var(--space-5);
}

/* .margins {
  margin-inline: auto;
} */

.paddings {
  padding-inline: var(--space-5);
  /* padding-block: 1.5rem; */
}
