---
import Layout from "../../layouts/Layout.astro";
import CTA from "../CTA.astro";
import Hero from "../Hero.astro";
import Projects from "../Projects.astro";
import About from "../About.astro";
---

<Layout>
  <Hero />
  <main class="">
    <Projects />
    <About />
  </main>
  <CTA />
</Layout>
