---
import { getI18N } from '../i18n'
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<aside class="container flex h-screen flex-col justify-center gap-10 text-center">
	<a id="contact">
		<h2 class="text-stone-800 dark:text-stone-400">
			<span
				class="inline-block text-5xl font-thin leading-10 tracking-tightest md:text-7xl md:leading-18"
				>{i18n.contact.h2.start}</span
			>
			<span class="block"></span>
			<span
				class="inline-block text-7xl font-medium leading-20 tracking-tighter md:text-9xl md:leading-27"
				>{i18n.contact.h2.end}</span
			>
		</h2>
	</a>
	<p>
		{i18n.contact.paragraph}
		<a href="mailto:kevin@castillo.works">kevin@castillo.works</a>
	</p>
</aside>
