---
import Icon from "./Icon.astro";
const currentYear = new Date().getFullYear();
---

<footer class="wrapper">
  <p>&copy; {currentYear} Kevin Castillo</p>
  <p class="socials">
    <a href="https://github.com/me"> GitHub</a>
    <a href="https://linkedin.com/me"> LinkedIn</a>
  </p>
</footer>
<style>
  footer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: auto;
    margin-bottom: 1rem;
  }

  footer a {
    /* color: var(--color-text-3); */
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  footer a:hover,
  footer a:focus {
    text-decoration-color: currentColor;
  }

  .socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }

  @media (min-width: 50em) {
    footer {
      flex-direction: row;
      justify-content: space-between;
    }
  }
</style>
