---
import { languages } from "../i18n/ui";
const { currentLocale } = Astro;
const [lang] = Object.keys(languages).filter((lang) => lang != currentLocale);
---

<a href={`/${lang}/`}>{lang}</a>

<style>
  a {
    text-transform: uppercase;
    /* font-family: var(--font-brand); */
  }
</style>
