---
import { languages } from "../i18n/ui";
const { currentLocale } = Astro;
const [lang] = Object.keys(languages).filter((lang) => lang != currentLocale);
---

<a href={`/${lang}/`}>{lang}</a>

<style>
  a {
    text-transform: uppercase;
    color: var(--link-color-1);
    font-weight: var(--font-weight-2);
    letter-spacing: var(--font-letter-spacing-3);
    font-size: var(--font-size-4);
  }
</style>
