---
import { getCollection } from "astro:content";
import ProjectPreview from "./ProjectPreview-absolute.astro";
// import ProjectPreview from "./ProjectPreview-grid.astro";

const { currentLocale } = Astro;

// Content Fetching: List four most recent work projects
const projects = (await getCollection("projects"))
  .filter((project) => {
    return project.slug.split("/")[0] === currentLocale;
  })
  .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
  .slice(0, 4);
---

<section class="projects paddings">
  <header>
    <a id="projects"><h2 class="sr-only">Selected Projects</h2></a>
  </header>
  <ul>
    {
      //Should we put an article here
      projects.map((project) => (
        <li>
          <ProjectPreview project={project} />
        </li>
      ))
    }
  </ul>
</section>

<style>
  .projects {
    /* margin-top: 3rem; */
  }

  .projects li {
    margin: 1.5rem 0;
  }
</style>
