---
import { getCollection } from 'astro:content'
import ProjectPreview from './ProjectPreview.astro'

const { currentLocale } = Astro

// Content Fetching: List four most recent work projects
const projects = (await getCollection('projects'))
	.filter((project) => {
		return project.slug.split('/')[0] === currentLocale
	})
	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0, 4)

const gridSpan = [7, 5, 5, 7]
---

<section class="mb-64">
	<header>
		<a id="projects"><h2 class="sr-only">Selected Projects</h2></a>
	</header>
	<div class="mx-6 grid grid-cols-12 gap-y-12 lg:gap-x-6 lg:gap-y-28">
		{
			projects.map((project, index) => (
				<div class={`col-span-12 ${gridSpan[index] === 7 ? 'lg:col-span-7' : 'lg:col-span-5'}`}>
					<ProjectPreview project={project} />
				</div>
			))
		}
	</div>
</section>
