<div class="service"><slot /></div>

<style>
  .service {
    display: flex;
    /* padding: 0.5rem 1rem; */
    gap: 0.25rem;
    /* color: var(--accent-text-over);  */
    /* border: 1px solid var(--accent-regular); */
    /* background-color: var(--accent-regular); */
    /* border-radius: 999rem; */
    /* font-size: var(--text-sm); */

    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--font-color-1);
    font-size: var(--font-size-3);
    font-family: var(--font-family-brand);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    /* line-height: 2.35;  */
    white-space: nowrap;
  }
</style>
