<div class="service"><slot /></div>

<style>
  .service {
    display: flex;
    gap: var(--space-1);
    justify-content: center;
    align-items: center;
    color: var(--font-color-1);
    font-size: var(--font-size-3);
    font-family: var(--font-family-brand);
    font-weight: var(--font-weight-3);
    text-transform: uppercase;
    letter-spacing: var(--font-letter-spacing-3);
    white-space: nowrap;
  }
</style>
