<theme-toggle>
  <button>
    <span class="sr-only">Dark theme</span>
  </button>
</theme-toggle>

<style>
  button {
    display: flex;
    border: 0;
    border-radius: 999rem;
    padding: 0;
    cursor: pointer;
    height: var(--space-3);
    width: var(--space-3);
    border: var(--border-width-1) solid var(--link-color);
    background: none;
  }
</style>

<script>
  class ThemeToggle extends HTMLElement {
    constructor() {
      super();

      const button = this.querySelector("button")!;

      /** Set the theme to dark/light mode. */
      const setTheme = (dark: boolean) => {
        document.documentElement.classList[dark ? "add" : "remove"](
          "theme-dark"
        );
        button.setAttribute("aria-pressed", String(dark));
      };

      // Toggle the theme when a user clicks the button.
      button.addEventListener("click", () => setTheme(!this.isDark()));

      // Initialize button state to reflect current theme.
      setTheme(this.isDark());
    }

    isDark() {
      return document.documentElement.classList.contains("theme-dark");
    }
  }
  customElements.define("theme-toggle", ThemeToggle);
</script>
