---
import Layout from '../../../layouts/Layout.astro'
import CTA from '../../ui/CTA.astro'
import Hero from './sections/Hero.astro'
import Projects from './sections/Projects.astro'
import About from './sections/About.astro'
import Experiences from './sections/Experiences.astro'
import Workflow from './sections/Workflow.astro'
---

<Layout>
	<Hero />
	<main>
		<Projects />
		<Experiences />
		<Workflow />
		<About />
	</main>
	<CTA />
</Layout>
