---
import { getI18N } from '../../../../i18n'
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale }).home
---

<aside class="container flex h-[calc(100vh-7.625rem)] flex-col justify-center gap-24 text-center">
	<a id="contact">
		<h2
			class="2xl:text-10xl xs:text-7xl text-[clamp(3.5rem,15vw,4.5rem)] leading-[.85em] font-medium sm:text-8xl lg:leading-[.8em] xl:text-9xl"
		>
			<span class="tracking-tightest inline-block">{i18n.contact.h2['1']}</span>
		</h2>
	</a>
	<p class="text-stone-600 dark:text-stone-500">
		{i18n.contact.paragraph}
		<a
			href={`mailto:${i18n.metadata.email}`}
			class="underline hover:text-stone-900 focus:text-stone-950 dark:hover:text-stone-300 dark:focus:text-stone-200"
			>{i18n.metadata.email}</a
		>
	</p>
</aside>
