---
import { getCollection } from 'astro:content'
import ProjectPreview from './ProjectPreview.astro'

const { currentLocale } = Astro

// Content Fetching: List four most recent work projects
const projects = (await getCollection('projects'))
	.filter((project) => {
		return project.slug.split('/')[0] === currentLocale
	})
	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0, 4)

const gridSpan = [8, 4, 4, 8]
// const gridSpan = [7, 5, 5, 7]
---

<section class="px-6 pb-16 lg:container lg:pb-32">
	<header>
		<a id="projects"><h2 class="sr-only">Selected Projects</h2></a>
	</header>
	<div class="grid grid-cols-12 gap-x-6 gap-y-12 xl:gap-y-28 2xl:gap-x-8">
		{
			projects.map((project, index) => (
				<div
					class={`relative col-span-12 lg:col-span-6 ${gridSpan[index] === 8 ? 'xl:col-span-8' : 'xl:col-span-4'} ${
						index % 2 === 0
							? 'lg:-ml-[calc((100vw-var(--breakpoint-lg)+2*4rem)/2-24px)] xl:-ml-[calc((100vw-var(--breakpoint-xl)+2*4rem)/2-24px)] 2xl:-ml-[calc((100vw-var(--breakpoint-2xl)+2*6rem)/2-32px)]'
							: 'lg:-mr-[calc((100vw-var(--breakpoint-lg)+2*4rem)/2-24px)] xl:-mr-[calc((100vw-var(--breakpoint-xl)+2*4rem)/2-24px)] 2xl:-mr-[calc((100vw-var(--breakpoint-2xl)+2*6rem)/2-32px)]'
					}`}
				>
					<ProjectPreview project={project} />
				</div>
			))
		}
	</div>
</section>
