---
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import { getLangFromUrl } from "../i18n/utils";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title, description } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<html lang={lang}>
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body>
    <Nav />
    <slot />
    <Footer />

    <style>
      :root {
        background-color: var(--color-bg);
      }
      :root.theme-dark {
        background-color: var(--color-bg);
      }
    </style>
  </body>
</html>
