---
import { getLangFromUrl, useTranslations } from '../../i18n/utils'
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const currentYear = new Date().getFullYear()
const textLinks: { label: string; href: string }[] = [
	{ label: t('footer.github'), href: 'https://github.com/me' },
	{ label: t('footer.linkedin'), href: 'https://linkedin.com/me' }
]
---

<footer class="container my-12 flex flex-wrap-reverse justify-between gap-y-2">
	<p class="pr-6 text-stone-500 dark:text-stone-600">
		&copy; {currentYear} Kevin Castillo
	</p>
	<ul class="m-0 flex list-none flex-wrap gap-6 sm:gap-16">
		{
			textLinks.map((link) => (
				<li>
					<a
						class="inline-block text-base font-medium tracking-wide text-stone-600 hover:text-stone-900 focus:text-stone-950 md:px-1 md:transition dark:text-stone-500 dark:hover:text-stone-300 dark:focus:text-stone-200"
						href={link.href}
					>
						{' '}
						{link.label}
					</a>
				</li>
			))
		}
	</ul>
</footer>
