---
interface Link {
	//Factor these types for reuse.
	label: string
	href: string
}
interface Props {
	links: Link[]
}

const { links } = Astro.props

//Check how to consider forced-colors: active
---

<ul
	class="m-0 flex list-none flex-col gap-2 bg-stone-100 p-6 lg:flex-row lg:gap-12 lg:bg-transparent lg:p-0 xl:gap-16 dark:bg-stone-950 lg:dark:bg-transparent"
>
	{
		links.map(({ label, href }) => (
			<li>
				<a
					aria-current={Astro.url.pathname === href}
					class="inline-block text-sm font-medium tracking-wide text-stone-600 hover:text-stone-900 focus:text-stone-950 lg:px-1 lg:transition dark:text-stone-500 dark:hover:text-stone-300 dark:focus:text-stone-200"
					href={href}
				>
					{label}
				</a>
			</li>
		))
	}
</ul>
