<theme-toggle>
	<button
		class="flex size-4 cursor-pointer rounded-full border-2 border-solid border-stone-600 p-0 hover:border-stone-900 focus:border-stone-950 dark:border-stone-500 dark:hover:border-stone-300 dark:focus:border-stone-200"
	>
		<span class="sr-only">Dark theme</span>
	</button>
</theme-toggle>

<script>
	class ThemeToggle extends HTMLElement {
		constructor() {
			super()

			const button = this.querySelector('button')!

			/** Set the theme to dark/light mode. */
			const setTheme = (dark: boolean) => {
				document.documentElement.classList[dark ? 'add' : 'remove']('dark')
				button.setAttribute('aria-pressed', String(dark))
			}

			// Toggle the theme when a user clicks the button.
			button.addEventListener('click', () => setTheme(!this.isDark()))

			// Initialize button state to reflect current theme.
			setTheme(this.isDark())
		}

		isDark() {
			return document.documentElement.classList.contains('dark')
		}
	}
	customElements.define('theme-toggle', ThemeToggle)
</script>
