---
import Layout from '../../../layouts/Layout.astro'
import CTA from '../home/sections/CTA.astro'

const { project } = Astro.props
const { slug } = project
const [, projectSlug] = slug.split('/')
---

<Layout>
	<img
		src={project.data.img}
		alt={project.data.img_alt || ''}
		loading="lazy"
		decoding="async"
		class="aspect-video size-full object-cover"
		transition:name={`${projectSlug}-hero-img`}
	/>
	<main class="prose prose-lg prose-stone dark:prose-invert container">
		<slot />
	</main>
	<CTA />
</Layout>
